output-figures
output/
output/*/
output_figures/
figures/scripts/.ipynb_checkpoints/
pipeline/slurm_logs/
fragmentomics/slurm_logs/
pipeline/.snakemake/
fragmentomics/.snakemake/
fragmentomics/post_processing/OLD_*
fragmentomics/post_processing/.ipynb_checkpoints/
.idea
